.body {
  flex: 0.8;
  background-color: rgb(26, 15, 26);
  height: 100vh;
  color: white;
  padding: 30px;
  overflow-y: overlay;
}
.body::-webkit-scrollbar {
  display: none;
}

.body_info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body_info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infotext {
  flex: 1;
  padding: 10px;
}
.body__infotext > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__infotext > p {
  font-size: 14px;
}
.song__icons {
  display: flex;
  align-items: center;
}
.song__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}
.body_shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.body_shuffle:hover {
  color: green;
  transition: 200ms transform ease-in;
  transform: scale(1.08);
}
.body__songs {
  margin: 20px -30px;
}
